<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ssuhung.appUpdateDetector</string>
	<key>EnvironmentVariables</key>
    <dict>
           <key>PATH</key>
           <string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
	<key>StandardOutPath</key>
	<string>/tmp/com.ssuhung.appUpdateDetector.out</string>
	<key>StandardErrorPath</key>
	<string>/tmp/com.ssuhung.appUpdateDetector.out</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/ssuhung/Pictures/Apps Icon/target/debug/app_icon</string>
	</array>
</dict>
</plist>
